# CONFIG FILE FOR celeba_hq_256
# Use:
# >>> import yaml
# >>> config = yaml.load( open(fname, 'r').read(), Loader=yaml.FullLoader)
# >>> Z_DIM = config["z_dim"]
#
# filters is ordered such that [ E_in , E/G Filters]
#

data_dir: "/home/simon/PycharmProjects/StyleALAE/data/celeba-128/"
levels: 6
filters: [ [128, 128],
           [64, 128],
           [64,  64],
           [32, 64],
           [16, 32]]
alpha: 0.0015
z_dim: 100
F_n_layers: 3
D_n_layers: 3
base_features: 128
batch_sizes: [128, 128, 128, 64, 32, 16]